@font-face {
    font-family: 'car-makes-icons';
    src: url('fonts/car-makes-icons.eot?qie7ia');
    src: url('fonts/car-makes-icons.eot?qie7ia#iefix') format('embedded-opentype'), url('fonts/car-makes-icons.ttf?qie7ia') format('truetype'), url('fonts/car-makes-icons.woff?qie7ia') format('woff'), url('fonts/car-makes-icons.svg?qie7ia#car-makes-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="car car-"],
[class*="car car-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'car-makes-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.car-peugeot-alt:before {
    content: "\e900";
}

.car-skoda:before {
    content: "\e901";
}

.car-renault:before {
    content: "\e902";
}

.car-seat:before {
    content: "\e903";
}

.car-renault-alt:before {
    content: "\e904";
}

.car-peugeot:before {
    content: "\e905";
}

.car-opel:before {
    content: "\e906";
}

.car-citroen:before {
    content: "\e907";
}

.car-mini:before {
    content: "\e908";
}

.car-fiat:before {
    content: "\e909";
}

.car-mclaren:before {
    content: "\e90a";
}

.car-mclaren-alt:before {
    content: "\e90b";
}

.car-alfa-romeo:before {
    content: "\e90c";
}

.car-dodge:before {
    content: "\e90d";
}

.car-ram:before {
    content: "\e90e";
}

.car-subaru:before {
    content: "\e90f";
}

.car-subaru-alt:before {
    content: "\e910";
}

.car-ram-alt:before {
    content: "\e911";
}

.car-volvo:before {
    content: "\e912";
}

.car-spyker:before {
    content: "\e913";
}

.car-spyker-alt:before {
    content: "\e914";
}

.car-mazda:before {
    content: "\e915";
}

.car-lotus:before {
    content: "\e916";
}

.car-lotus-alt:before {
    content: "\e917";
}

.car-lamborghini:before {
    content: "\e918";
}

.car-lamborghini-alt:before {
    content: "\e919";
}

.car-jeep-alt:before {
    content: "\e91a";
}

.car-jeep:before {
    content: "\e91b";
}

.car-jaguar:before {
    content: "\e91c";
}

.car-jaguar-alt:before {
    content: "\e91d";
}

.car-aston-martin:before {
    content: "\e91e";
}

.car-aston-martin-alt:before {
    content: "\e91f";
}

.car-mercedes-benz:before {
    content: "\e920";
}

.car-saab:before {
    content: "\e921";
}

.car-saab-alt:before {
    content: "\e922";
}

.car-acura:before {
    content: "\e923";
}

.car-alfa-romeo-alt:before {
    content: "\e924";
}

.car-am-general:before {
    content: "\e925";
}

.car-audi:before {
    content: "\e926";
}

.car-bentley:before {
    content: "\e927";
}

.car-bmw:before {
    content: "\e928";
}

.car-bugatti:before {
    content: "\e929";
}

.car-buick:before {
    content: "\e92a";
}

.car-cadillac:before {
    content: "\e92b";
}

.car-chevrolet:before {
    content: "\e92c";
}

.car-chrysler:before {
    content: "\e92d";
}

.car-daewoo:before {
    content: "\e92e";
}

.car-eagle:before {
    content: "\e92f";
}

.car-ferrari:before {
    content: "\e930";
}

.car-fiat-alt:before {
    content: "\e931";
}

.car-fisker:before {
    content: "\e932";
}

.car-ford:before {
    content: "\e933";
}

.car-genesis:before {
    content: "\e934";
}

.car-geo:before {
    content: "\e935";
}

.car-gmc:before {
    content: "\e936";
}

.car-honda:before {
    content: "\e937";
}

.car-hummer:before {
    content: "\e938";
}

.car-hyundai:before {
    content: "\e939";
}

.car-infiniti:before {
    content: "\e93a";
}

.car-isuzu:before {
    content: "\e93b";
}

.car-kia:before {
    content: "\e93c";
}

.car-land-rover:before {
    content: "\e93d";
}

.car-lexus:before {
    content: "\e93e";
}

.car-lincoln:before {
    content: "\e93f";
}

.car-maserati:before {
    content: "\e940";
}

.car-maybach:before {
    content: "\e941";
}

.car-mazda-alt:before {
    content: "\e942";
}

.car-mercedes-benz-alt:before {
    content: "\e943";
}

.car-mercury:before {
    content: "\e944";
}

.car-mini-alt:before {
    content: "\e945";
}

.car-mitsubishi:before {
    content: "\e946";
}

.car-nissan:before {
    content: "\e947";
}

.car-oldsmobile:before {
    content: "\e948";
}

.car-panoz:before {
    content: "\e949";
}

.car-plymouth:before {
    content: "\e94a";
}

.car-pontiac:before {
    content: "\e94b";
}

.car-porsche:before {
    content: "\e94c";
}

.car-rolls-royce:before {
    content: "\e94d";
}

.car-saturn:before {
    content: "\e94e";
}

.car-scion:before {
    content: "\e94f";
}

.car-smart:before {
    content: "\e950";
}

.car-suzuki:before {
    content: "\e951";
}

.car-tesla:before {
    content: "\e952";
}

.car-toyota:before {
    content: "\e953";
}

.car-volkswagen:before {
    content: "\e954";
}

.car-volvo-alt:before {
    content: "\e955";
}